services:
  postgres:
    image: postgres:18-alpine
    container_name: user_management_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DATABASE:-user_management}
    ports:
      - "${POSTGRES_PORT:-5434}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${POSTGRES_USER:-postgres} -d ${POSTGRES_DATABASE:-user_management}",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - user_management_network

volumes:
  postgres_data:
    driver: local

networks:
  user_management_network:
    driver: bridge
